.background-wrapper {
  //-webkit-filter: url('/svg/filters.svg#blur3');
}
.background {
  transition: ease-in-out $animation-time background;
  right: -10vw;
  left: -10vw;
  bottom: -10vh;
  top: -10vh;
  height: 120vh;
  width: 120vw;
  position: fixed;
  z-index: -1;
  background-color: black;
  -webkit-mask: url('/svg/masks/dots.svg');
}
