.light-page {
  $width: 600px;
  $height: 600px;
  @include center($width, $height);

  $title-size: 0; //$height / 12;

  .light-title {
    font-family: $font-family;
    font-size: $title-size;
    text-align: center;
    line-height: 1;
    margin: 0;
  }

  $svg-margin: $title-size / 3;
  $svg-dim: $height - ($title-size + $svg-margin);

  .light-svg-outer {
    margin-top: $svg-margin;
    margin-left: $svg-margin;
    margin-right: $svg-margin;
    height: $svg-dim;
  }
  .light-rotator {
    width: $svg-dim;
    height: $svg-dim;
    transition: ease-in-out $animation-time all;
  }
  .light-sv {
    height: $svg-dim;
    width: $svg-dim;
    margin: 0 auto;
    display: block;
    animation: rotate (60s * 3) infinite linear;
  }

  .light-svg circle {
    mix-blend-mode: multiply;
    transition: ease-in-out $animation-time all;
  }

  #N-circle  { fill: $color-orange; }
  #NE-circle { fill: $color-yellow; }
  #E-circle  { fill: $color-green; }
  #SE-circle { fill: $color-aqua; }
  #S-circle  { fill: $color-blue; }
  #SW-circle { fill: $color-violet; }
  #W-circle  { fill: $color-pink; }
  #NW-circle { fill: $color-red; }

  .light-percent {
    $font-size: 120px;
    $line-height: 1;
    $text-height: $line-height * $font-size;

    $this-width: $width / 2;
    $this-height: $text-height;
    margin-left: ($width / 2) - ($this-width * 0.5);
    margin-top: ($height / 2) - ($this-height * 0.6);
    width: $this-width;
    height: $text-height;
    font-size: $font-size;
    line-height: $line-height;
    font-family: monaco;
    text-align: center;
    color: #ccc;
    position: absolute;
    display: block;
    z-index: 100000;
  }
}
